@model WeatherForecast.Models.Weather_info

@{
    ViewBag.Title = "Delete";
}
<div class="container my-4">
    <h2 class="ml-3">Delete</h2>
    <h2 class="ml-3">Are you sure you want to delete this?</h2>
    <div class="col-12">
        <h4><p class="pt-2 text-info my-auto font-weight-bolder">@Html.DisplayNameFor(model => model.dt_txt) :  @Html.DisplayFor(model => model.dt_txt) </p></h4>
        <hr class="w-100 border-primary" />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.main_temp)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.main_temp) (°C)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.main_temp_min)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.main_temp_min) (°C)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.main_temp_max)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.main_temp_max) (°C)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.main_pressure)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.main_pressure) (hpa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.main_sea_level)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.main_sea_level)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.main_grnd_level)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.main_grnd_level)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.main_humidity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.main_humidity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.main_temp_kf)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.main_temp_kf)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.weather_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.weather_id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.weather_main)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.weather_main)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.weather_description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.weather_description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.weather_icon)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.weather_icon)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.clouds_all)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.clouds_all)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.wind_speed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.wind_speed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.wind_deg)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.wind_deg)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.syspod)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.syspod)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dt_txt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dt_txt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.snow_3h)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.snow_3h)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.rain_3h)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.rain_3h)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary" />
                @Html.ActionLink("Back to List", "Index", new { area = ""}, new { @class="btn btn-primary"})
            </div>
        }

    </div>
</div>