@model WeatherForecast.Models.Weather_info

    <div class="container my-4">
        <h2 class="ml-3">Edit Item</h2>
        <h4><p class="col-12 pt-2 text-info my-auto font-weight-bolder">@Html.DisplayNameFor(model => model.dt_txt) :  @Html.DisplayFor(model => model.dt_txt) </p></h4>
        @Html.TextBoxFor(model => model.dt, new {style = "display:none"})
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="col-12">
                <div class="form-horizontal">

                    <hr class="w-100 border-primary" />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.dt)
                    @Html.HiddenFor(model => model.dt_txt)

                    <div class="form-group">
                        @Html.LabelFor(model => model.main_temp, htmlAttributes: new { @class = "control-label col-md-2" }) (°C)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.main_temp, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.main_temp, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.main_temp_min, htmlAttributes: new { @class = "control-label col-md-2" }) (°C)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.main_temp_min, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.main_temp_min, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.main_temp_max, htmlAttributes: new { @class = "control-label col-md-2" }) (°C)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.main_temp_max, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.main_temp_max, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.main_pressure, htmlAttributes: new { @class = "control-label col-md-2" }) (hpa)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.main_pressure, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.main_pressure, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.main_sea_level, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.main_sea_level, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.main_sea_level, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.main_grnd_level, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.main_grnd_level, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.main_grnd_level, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.main_humidity, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.main_humidity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.main_humidity, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.main_temp_kf, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.main_temp_kf, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.main_temp_kf, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.weather_main, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.weather_main, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.weather_main, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.weather_description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.weather_description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.weather_description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.clouds_all, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.clouds_all, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.clouds_all, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.wind_speed, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.wind_speed, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.wind_speed, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.wind_deg, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.wind_deg, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.wind_deg, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.snow_3h, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.snow_3h, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.snow_3h, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.rain_3h, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.rain_3h, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.rain_3h, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            @Html.ActionLink("Back to List", "Index", new { area = "" }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
