@model WeatherForecast.Controllers.IndexViewModel
<div class="container my-4">
    <h2>List of weather information</h2>

    <div class="row d-flex">
        <div class="col-12 align-content-end">
            <a title="Create new" href="@Url.Action("Create", "WeatherInfo")" class="float-right" style="font-size:28px">
                <i class="fas fa-plus"></i>
            </a>
            @*@Html.ActionLink("Create New", "Create", new { area = "" }, new { @class = "float-right" })*@
        </div>
            
    </div>
    

    @foreach (var item in Model.Items)
    {
        <div class="row border-info my-2 border">
            <p class="col-12 pt-2 text-info my-auto font-weight-bolder">@Html.DisplayNameFor(model => item.dt_txt) :  @Html.DisplayFor(model => item.dt_txt) </p>
            <hr class="w-100 border-primary" />
            <div class="row col-12 my-2">

                <div class="col-md-3 d-flex">
                    <div class="col-6 d-flex flex-column">
                        <label class="w-100 font-weight-bold">@Html.DisplayNameFor(model => item.main_temp)</label>
                        <label class="w-100 font-weight-bold"> @Html.DisplayNameFor(model => item.main_pressure)</label>
                    </div>
                    <div class="col-6 d-flex flex-column">
                        <label class="w-100">@Html.DisplayFor(modelItem => item.main_temp) °C</label>
                        <label class="w-100">@Html.DisplayFor(modelItem => item.main_pressure) hpa</label>
                    </div>
                </div>
                <div class="col-md-4 d-flex border-left border-right">
                    <div class="col-6 d-flex flex-column">
                        <label class="w-100 font-weight-bold">@Html.DisplayNameFor(model => item.main_temp_min)</label>
                        <label class="w-100 font-weight-bold"> @Html.DisplayNameFor(model => item.main_temp_max)</label>
                    </div>
                    <div class="col-6 d-flex flex-column">
                        <label class="w-100">@Html.DisplayFor(modelItem => item.main_temp_min) °C</label>
                        <label class="w-100">@Html.DisplayFor(modelItem => item.main_temp_max) °C</label>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="col-6 d-flex flex-column">
                        <label class="w-100 font-weight-bold">@Html.DisplayNameFor(model => item.weather_main)</label>
                        <label class="w-100 font-weight-bold">@Html.DisplayNameFor(model => item.weather_description)</label>
                    </div>
                    <div class="col-6 d-flex flex-column">
                        <label class="w-100">@Html.DisplayFor(modelItem => item.weather_main)</label>
                        <label class="w-100">@Html.DisplayFor(modelItem => item.weather_description)</label>
                    </div>
                </div>
                <div class="col-md-1 d-flex flex-row justify-content-between my-auto border-left">
                    <a title="Edit" href="@Url.Action("Edit", "WeatherInfo", new { id = item.dt })" >
                        <i class="fas fa-edit"></i>
                    </a>
                    <a title="Details" href="@Url.Action("Details", "WeatherInfo", new { id = item.dt })">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a title="Delete" href="@Url.Action("Delete", "WeatherInfo", new { id = item.dt })">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                 
                </div>
            </div>
        </div>
    }

    <div class="row justify-content-center d-flex">
        <!-- pager -->
        @if (Model.Pager.EndPage > 1)
        {

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="~/WeatherInfo/Index">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="~/WeatherInfo/Index?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                        <li class="@(page == Model.Pager.CurrentPage ? "page-item active" : "page-item")">
                            <a class="page-link" href="~/WeatherInfo/Index?page=@page">@page</a>
                        </li>
                    }

                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="~/WeatherInfo/Index?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="~/WeatherInfo/Index?page=@(Model.Pager.TotalPages)">Last</a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>
</div>
